/* Primeiro Checkbox */

.chk1{
    display: none;
}

.chk1+label span{
    display: inline-block;
    font-size: 20px;
    width: 1em;
    height: 1em;
    background-color: red;
}

.chk1:checked+label span{
    background-color: blue;
    position: relative;
}

.chk1:checked+label span::before{
    content: "";
    display: block;
    border: .087em solid white;
    position: absolute;
    top: .077em;
    left: .38em;
    right: .3em;
    bottom: .3em;
    transform: rotate(45deg);
    border-left-color: transparent;
    border-top-color: transparent;

}


/* Segundo Checkbox */
.lbl2 input[type=checkbox]{
    /* display: none; */
}

.lbl2 span {
    display: inline-block;
    font-size: 20px;
    background-color: red;
    width: 1em;
    height: 1em;
}


.lbl2:has(input[type=checkbox]:checked) span{
    background-color: blue;
    position: relative;
}

.lbl2:has(input[type=checkbox]:checked) span::before{
    content: "";
    display: block;
    border: .087em solid white;
    position: absolute;
    top: .077em;
    left: .38em;
    right: .3em;
    bottom: .3em;
    transform: rotate(45deg);
    border-left-color: transparent;
    border-top-color: transparent;
}

.lbl2 input[type="checkbox"]{
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    outline: none;
}
.lbl2 input[type="checkbox"]:focus+span{
    outline: 2px solid black;
    outline-offset: -2px;
    box-sizing: border-box;
}
