*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

html{
    font-size: 62,5%;
}

html, body{
    min-height: 100vh;
}

body{
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    /* background-color: red; */
    text-align: center;
    font-size: 3em;
}


.gallery{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* width: 96rem; */
    width: 1060px;
    /* margin: auto; */
    padding: 1.6rem ;
}

.image{

    flex-basis: 228px;
    flex-grow: 1;

}

.card{
    display: block;
    width: 100%;


}

.desc__image{
   display: block;
    /* border: 1px solid purple; */
    text-align: center;
}