:root {
    /* Variaveis */
    --top_color_logo: white;
    --top_color_menu: #425564;
    --color_text: #555;
    --font_roboto: 'Roboto', sans-serif;
    --font_viaola: 'Viaoda Libre', cursive, sans-serif;
}

html {
    font: 400 62.5% var(--font_viaola);
}

body{
    background-color: #555;
}
/* Start Containers */
.container{
    max-width: 124rem;
    min-width: 100rem;
    margin: auto;
}
.top_container {
    /* border: 1px solid red; */
    background-color: #162028;
}
.mid_container{
    background-color: white;
    margin-top: 0;
    padding: 0;
    padding-bottom: 5rem;
}
.end_container{
    background-color: #003d52;
}
.footer_container{
    background-color: #0b171f;
}
/* End Containers */

/* Start Top - Menu */
.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_top p {
    color: var(--top_color_logo);
    font-size: 3.5rem;
    padding: .8rem;
    margin: 0 0 0 18rem;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.header_nav li{
    list-style-type: none;
    margin-right: 6.0rem;
}

.header_nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--top_color_menu);
    letter-spacing: 3px;
}
/* End Top - Menu */

/* Start Hero Banner */
.hero_banner img{
    width: 124rem;
    margin: auto;
    background-position: center;
    display: block;
}
/* End Hero Banner */

/* Start Mid Content */
.mid_content{
    max-width: 85rem;
    margin-top: 10rem;
    margin: auto;
    text-align: center;
    color: var(--color_text);
}
.mid_content_text{
    display: inline-block;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.mid_content_text h1{
    font-size: 3rem;
    color: rgb(30, 28, 28);
 }
 .mid_content_text p{
    font-size: 1.8rem;
    text-align: center;
    line-height: 2;
    letter-spacing: .3px;
 }
.list_models{
    display: flex;
    gap: 4rem;
    justify-content:center;
    align-items: center;
    padding: 0;
}
.list_models_content{
    font-family: var(--font_roboto);
    list-style-type: none;
}
.list_models_text{
    font-size: 1.4rem;
}
.models_title{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
}
/* End Mid Content */

/* Start End_Content*/
.end_content{
    background-image: url(../imagens/bg_detalhe.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}
.end_content__text{
    display: inline-block;
    margin: 10rem 15rem ;
    color: white;
}
.end_content__text h2{
    font-size: 5.5rem;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 3rem;
}
.end_content__text p{
    font-family: var(--font_roboto);
    max-width: 70rem ;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: .6px;
}
/* End End_content */

/* Start Footer */
    .footer{
        font-family: var(--font_viaola);
        /* font-family: var(--font_roboto); */
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 5px;
        text-align: center;
        padding: 2rem;
        color: #6f8597;
    }
/* End Footer */
