:root{
    --primary-color: #ff7833;
    --secondary-color: #31333b;
    --default-color: #e7e7e7;
    --secondary-color-light: #444856;
}

.card{
    max-width: 740px;
    background-color: var(--secondary-color);
    /* Esse 'padding' abaixo, esta vindo do index. Foi posto padding na 
    tag <article> */
    padding: 0;
}

.card_content{
    padding: 0.4em 1em 1em;
}

.card_content p, 
.card_title{
    margin: 0;
}

.card_title{
    font-size: 1.75em;
}