:root{
    --primary-color: #e10f0f;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to top, rgba(0, 128, 96, 0.9) 20%, transparent 100%), url(../imagens/tile.png), url(../imagens/tile-pattern.png);
    background-attachment: fixed, scroll;
    /* background-blend-mode: color; */
    /* Linear Gradiente */

}

.cores{
    width: 80%;
    /* A propriedade 'color-mix' faz a mistura de cores */
    --color: color-mix(in srgb, var(--primary-color), transparent 40%);
    border: 8px dashed var(--color);
    margin: 20px auto;
    padding: 26px;
}

.cores p{
    margin: 0;
}



/* Contador */
.cores{
    /* Contador */
    counter-increment: contador;

}

section{
    counter-reset: contador;
}

.cores::before{
    content: "[ "counter(contador)" ]";
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

.cores:nth-of-type(2){
    background-color: white;
        /* a Propriedade 'background-clip', vai definir aonde vai ser aplicado
        a cor de background */
    background-clip: content-box;
}

.cores:nth-of-type(3){
    /* Usando cores com 'hsl' é pelos graus de cores
    muito util para usar a variação da mesma cor */
    background-color: hsl(90deg, 100%, 50%);
    box-shadow: 0 15px 6px -7px hsl(90deg, 100%, 20%) ;

}

.cores:nth-of-type(3):hover{
    background-color: hsl(90deg, 100%, 80%);
}

.cores:nth-of-type(4){
    background-color: hsla(39, 100%, 35%, 0.3) ;
    box-shadow: 0 15px 6px -7px hsla(39, 100%, 75%, 0.7) ;
}