:root{
    --primary-color: #e10f0f;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to top, rgba(0, 128, 96, 0.9) 20%, transparent 100%), url(../imagens/tile.png), url(../imagens/tile-pattern.png);
    background-attachment: fixed, scroll;
    /* background-blend-mode: color; */
    /* Linear Gradiente */

}

.cores{
    width: 80%;
    /* A propriedade 'color-mix' faz a mistura de cores */
    --color: color-mix(in srgb, var(--primary-color), transparent 40%);
    border: 8px dashed var(--color);
    margin: 20px auto;
    padding: 26px;
}

.cores p{
    margin: 0;
}



/* Contador */
.cores{
    /* Contador */
    counter-increment: contador;

}

section{
    counter-reset: contador;
}

.cores::before{
    content: "[ "counter(contador)" ]";
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

.cores:nth-of-type(2){
    background-color: white;
        /* a Propriedade 'background-clip', vai definir aonde vai ser aplicado
        a cor de background */
    background-clip: content-box;
}

.cores:nth-of-type(3){
    /* Usando cores com 'hsl' é pelos graus de cores
    muito util para usar a variação da mesma cor */
    background-color: hsl(90deg, 100%, 50%);
    box-shadow: 0 15px 6px -7px hsl(90deg, 100%, 20%) ;

}

.cores:nth-of-type(3):hover{
    background-color: hsl(90deg, 100%, 80%);
}

.cores:nth-of-type(4){
    background-color: hsla(39, 100%, 35%, 0.3) ;
    box-shadow: 0 15px 6px -7px hsla(39, 100%, 75%, 0.7) ;
}

.cores:nth-of-type(5){
    background-image: linear-gradient(70deg, blue, transparent), 
    linear-gradient(to top, red, transparent);
    background-clip: padding-box;
}

.cores:nth-of-type(6){
    background-image: radial-gradient(circle, blue, red , green, yellow);
}

.cores:nth-of-type(7){
    background-image: radial-gradient(ellipse, blue, red , green, yellow);
}

.cores:nth-of-type(8){
    background-image: radial-gradient(circle at right top, blue, #f008);
}

.cores:nth-of-type(9){
    background-image: radial-gradient(ellipse at 15% top, blue, #f008);
}

.cores:nth-of-type(10){
    background-image: radial-gradient(closest-corner at 50px 20px, blue, #f008);
}

.cores:nth-of-type(11){
    background-image: radial-gradient(farthest-corner at 50px 20px, blue, #f008);
}

.cores:nth-of-type(12){
    background-image: radial-gradient(closest-side at 50px 20px, blue, #f008);
}

.cores:nth-of-type(13){
    background-image: radial-gradient(farthest-side at 50px 20px, blue, #f008);
}

.cores:nth-of-type(14){
    background-image: radial-gradient(circle farthest-side at 50px 20px, blue, #f008);
}

.cores:nth-of-type(15){
    background-image: conic-gradient(from 45deg, red 50%, blue, green);
}

.cores:nth-of-type(16){
    background-image: conic-gradient(#f00, #ff0, #0ff, #00f,#f00);
   filter: blur(5px);
}

.cores:nth-of-type(17){
    background-image: conic-gradient(#f00, #ff0, #0ff, #00f,#f00);
   /* filter: hue-rotate(180deg); */
   transition: filter 1s linear;
}

.cores:nth-of-type(17):hover{
    /* Esse filtro pode ser aplicado em Graus 'xdeg' ou em 'turn' */
    filter: hue-rotate(180deg);
}

.cores:nth-of-type(18){
    background-image: conic-gradient(#f00, #ff0, #0ff, #00f,#f00);
    transition: filter 5s linear;
    /* 'aspect-ratio' serve para aumentar a proporção da imagem */
    aspect-ratio: 16 / 9;
}

.cores:nth-of-type(18):hover{
    /* Esse filtro pode ser aplicado em Graus 'xdeg' ou em 'turn' */
    filter: hue-rotate(10turn);
}

.cores:nth-of-type(19){
    background-image: repeating-linear-gradient(to top right, white 0px, white 5px, black 5px, black 10px);
}

.cores:nth-of-type(20){
    background-image: repeating-radial-gradient(white 0px, white 10px, black 10px, black 20px);
}

.cores:nth-of-type(21){
    /* 'conic-gradient' sempre precisa ser trabalhado em graus 'xdeg' */
    background-image: repeating-conic-gradient(white 0deg, white 10deg, black 10deg, black 20deg);
}
    
.cores:nth-of-type(22){
    background-image: 
    repeating-conic-gradient(transparent 0deg, transparent 10deg, black 10deg, black 20deg),
    repeating-radial-gradient(red 0%, transparent, blue 20%);
    background-attachment: fixed scroll;
}

.cores:nth-of-type(23){
    background-image: 
    repeating-radial-gradient(red 0%, transparent, blue 20%),
    repeating-linear-gradient(red, blue);
    background-attachment: fixed scroll;
}