body{
    background-color: #b5cfd5;

}

h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
}
h2{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: italic;
    text-align: right;
    font-weight: normal;
}
h3{
    color: green;
    font-size: 35px;
    text-transform: capitalize;
    text-align: left;
    text-decoration: underline;
    background-color: rgb(101, 18, 18);
    
}
p{
    font-size: 25px;
    font-variant: small-caps;
    text-indent: 30px;
    text-align: left;
    color: #031625;
}
a{
    text-decoration: none;
    font-variant: normal;
}