a{
    display: inline-block;
    margin-bottom: 1em;
}

a[target="_blank"]::after{
    content: url(../images/newWindow-icon.png);
    padding-left: .5em;
}
a[href$=".pdf"]::before{
    content: url(../images/pdf-icon.gif);
    padding-right: .5em;
}


input[id="chk1"]:checked + label{
    color: green;
}

input[id="chk1"]:not(checked) + label{
    color: red;
}

input[id="chk2"]:disabled + label{
    color: blue;
}

li li:nth-of-type(3){
    background-color: purple;
}